// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// 0. Include all of Bootstrap (No extra steps needed)
// @import '~/bootstrap-scss/bootstrap';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~/bootstrap-scss/functions';

// 2. Include any default variable overrides here
@import '~/bootstrap-scss/colors';
// @import '~/bootstrap-scss-custom/colors';
// @import '~/bootstrap-scss-custom/variables';

// 3. Include remainder of required Bootstrap stylesheets
@import '~/bootstrap-scss/variables';
@import '~/bootstrap-scss/variables-dark.scss';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '~/bootstrap-scss/maps';
@import '~/bootstrap-scss/mixins';
@import '~/bootstrap-scss/root';

// 6. Optionally include any other parts as needed
@import '~/bootstrap-scss/utilities';
@import '~/bootstrap-scss/reboot';
@import '~/bootstrap-scss/type';
@import '~/bootstrap-scss/images';
@import '~/bootstrap-scss/forms';
@import '~/bootstrap-scss/containers';
@import '~/bootstrap-scss/grid';
@import '~/bootstrap-scss/nav';
@import '~/bootstrap-scss/buttons';
@import '~/bootstrap-scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '~/bootstrap-scss/utilities/api';

// 8. Add additional custom code here

a {
	text-decoration: none;
}
